extends layout

block headerLeft
  h2
    a(href=`/plots/${plot.getId()}`)= `〈 ${plot.getName()}`

block headerCenter

block main
  form.delete(action=`/plots/${plot.getId()}/delete-plot` method="post" id="delete-plot")
  section.form-list
    form(action=`/plots/${plot.getId()}/edit-plot-details` method="post" id="edit-plot-details" autocomplete="off")
      ul
        li
          label(for="plotName") Plot name
          input(type="text"
                name="plotName"
                placeholder=plot.getName()
                value=plotName || '')
        li
          label(for="plotLength") Length
          input(type="text"
                name="plotLength"
                placeholder=plot.getLength()
                value=plotLength || '')
        li
          label(for="plotWidth") Width
          input(type="text"
                name="plotWidth"
                placeholder=plot.getWidth()
                value=plotWidth || '')
          input(type="hidden"
                name="plotId"
                value=plot.getId())
      ul
        li
          button(type="submit" form="edit-plot-details") Save
          button.delete(type="submit" form="delete-plot" class="delete") Delete